eCardDialog/Web References/SASReference/SasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://soap.sas.client.chipkarte.at" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SasService" targetNamespace="http://soap.sas.client.chipkarte.at" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://exceptions.soap.base.client.chipkarte.at" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="AccessException" type="tns:accessExceptionContent" />
      <xs:element name="DialogException" type="tns:dialogExceptionContent" />
      <xs:element name="ServiceException" type="tns:serviceExceptionContent" />
      <xs:complexType name="accessExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseExceptionContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dialogExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="serviceExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://exceptions.soap.sas.client.chipkarte.at" xmlns:base="http://soap.base.client.chipkarte.at" xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://exceptions.soap.sas.client.chipkarte.at" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://exceptions.soap.base.client.chipkarte.at" />
      <xs:element name="InvalidParameterSuchkriterienException" type="tns:invalidParameterSuchkriterienExceptionContent" />
      <xs:element name="SasException" type="tns:sasExceptionContent" />
      <xs:complexType name="invalidParameterSuchkriterienExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="baseexc:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sasExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="baseexc:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://soap.base.client.chipkarte.at" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="property">
        <xs:sequence>
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:sasexc="http://exceptions.soap.sas.client.chipkarte.at" xmlns:base="http://soap.base.client.chipkarte.at" xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://soap.sas.client.chipkarte.at" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://soap.base.client.chipkarte.at" />
      <xs:element name="adressdatenAbfragen" type="tns:adressdatenAbfragen" />
      <xs:element name="adressdatenAbfragenResponse" type="tns:adressdatenAbfragenResponse" />
      <xs:element name="checkStatus" type="tns:checkStatus" />
      <xs:element name="checkStatusResponse" type="tns:checkStatusResponse" />
      <xs:element name="patientendatenAbfragen" type="tns:patientendatenAbfragen" />
      <xs:element name="patientendatenAbfragenResponse" type="tns:patientendatenAbfragenResponse" />
      <xs:element name="svNummerAbfragen" type="tns:svNummerAbfragen" />
      <xs:element name="svNummerAbfragenResponse" type="tns:svNummerAbfragenResponse" />
      <xs:complexType name="abfrageErgebnis">
        <xs:sequence>
          <xs:element minOccurs="0" name="druckFamilienname" type="xs:string" />
          <xs:element minOccurs="0" name="druckVorname" type="xs:string" />
          <xs:element minOccurs="0" name="familienname" type="xs:string" />
          <xs:element minOccurs="0" name="geburtsdatum" type="xs:string" />
          <xs:element minOccurs="0" name="svNummer" type="xs:string" />
          <xs:element minOccurs="0" name="todesdatum" type="xs:string" />
          <xs:element minOccurs="0" name="todesdatumBestaetigtKZ" type="xs:string" />
          <xs:element minOccurs="0" name="vorname" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="adressdaten">
        <xs:sequence>
          <xs:element minOccurs="0" name="abgabestelle" type="xs:string" />
          <xs:element minOccurs="0" name="anschriftszusatz" type="xs:string" />
          <xs:element minOccurs="0" name="hausnummer" type="xs:string" />
          <xs:element minOccurs="0" name="ort" type="xs:string" />
          <xs:element minOccurs="0" name="plz" type="xs:string" />
          <xs:element minOccurs="0" name="postfachNummer" type="xs:string" />
          <xs:element minOccurs="0" name="postfachText" type="xs:string" />
          <xs:element minOccurs="0" name="staatscode" type="xs:string" />
          <xs:element minOccurs="0" name="stockTuerNummer" type="xs:string" />
          <xs:element minOccurs="0" name="strasse" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="adressdatenAbfragen">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
          <xs:element minOccurs="0" name="svNummer" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="adressdatenAbfragenResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:adressdaten" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="base:property" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="patientendatenAbfragen">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
          <xs:element minOccurs="0" name="svNummer" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="patientendatenAbfragenResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:abfrageErgebnis" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="suchkriterien">
        <xs:sequence>
          <xs:element minOccurs="0" name="familienname" type="xs:string" />
          <xs:element minOccurs="0" name="geburtsdatum" type="xs:string" />
          <xs:element minOccurs="0" name="vorname" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="svNummerAbfragen">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
          <xs:element minOccurs="0" name="svNummerAbfragenSuchkriterien" type="tns:suchkriterien" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="svNummerAbfragenResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:abfrageErgebnis" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="AccessException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:AccessException" />
  </message>
  <message name="DialogException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:DialogException" />
  </message>
  <message name="InvalidParameterSuchkriterienException">
    <part xmlns:sasexc="http://exceptions.soap.sas.client.chipkarte.at" name="fault" element="sasexc:InvalidParameterSuchkriterienException" />
  </message>
  <message name="SasException">
    <part xmlns:sasexc="http://exceptions.soap.sas.client.chipkarte.at" name="fault" element="sasexc:SasException" />
  </message>
  <message name="ServiceException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:ServiceException" />
  </message>
  <message name="adressdatenAbfragen">
    <part name="parameters" element="tns:adressdatenAbfragen" />
  </message>
  <message name="adressdatenAbfragenResponse">
    <part name="parameters" element="tns:adressdatenAbfragenResponse" />
  </message>
  <message name="checkStatus">
    <part name="parameters" element="tns:checkStatus" />
  </message>
  <message name="checkStatusResponse">
    <part name="parameters" element="tns:checkStatusResponse" />
  </message>
  <message name="patientendatenAbfragen">
    <part name="parameters" element="tns:patientendatenAbfragen" />
  </message>
  <message name="patientendatenAbfragenResponse">
    <part name="parameters" element="tns:patientendatenAbfragenResponse" />
  </message>
  <message name="svNummerAbfragen">
    <part name="parameters" element="tns:svNummerAbfragen" />
  </message>
  <message name="svNummerAbfragenResponse">
    <part name="parameters" element="tns:svNummerAbfragenResponse" />
  </message>
  <portType name="ISasService">
    <operation name="adressdatenAbfragen">
      <input wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/adressdatenAbfragenRequest" message="tns:adressdatenAbfragen" />
      <output wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/adressdatenAbfragenResponse" message="tns:adressdatenAbfragenResponse" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/adressdatenAbfragen/Fault/AccessException" name="AccessException" message="tns:AccessException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/adressdatenAbfragen/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/adressdatenAbfragen/Fault/InvalidParameterSuchkriterienException" name="InvalidParameterSuchkriterienException" message="tns:InvalidParameterSuchkriterienException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/adressdatenAbfragen/Fault/SasException" name="SasException" message="tns:SasException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/adressdatenAbfragen/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="checkStatus">
      <input wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/checkStatusRequest" message="tns:checkStatus" />
      <output wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/checkStatusResponse" message="tns:checkStatusResponse" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/checkStatus/Fault/AccessException" name="AccessException" message="tns:AccessException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/checkStatus/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/checkStatus/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="patientendatenAbfragen">
      <input wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/patientendatenAbfragenRequest" message="tns:patientendatenAbfragen" />
      <output wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/patientendatenAbfragenResponse" message="tns:patientendatenAbfragenResponse" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/patientendatenAbfragen/Fault/AccessException" name="AccessException" message="tns:AccessException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/patientendatenAbfragen/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/patientendatenAbfragen/Fault/InvalidParameterSuchkriterienException" name="InvalidParameterSuchkriterienException" message="tns:InvalidParameterSuchkriterienException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/patientendatenAbfragen/Fault/SasException" name="SasException" message="tns:SasException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/patientendatenAbfragen/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="svNummerAbfragen">
      <input wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/svNummerAbfragenRequest" message="tns:svNummerAbfragen" />
      <output wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/svNummerAbfragenResponse" message="tns:svNummerAbfragenResponse" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/svNummerAbfragen/Fault/AccessException" name="AccessException" message="tns:AccessException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/svNummerAbfragen/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/svNummerAbfragen/Fault/InvalidParameterSuchkriterienException" name="InvalidParameterSuchkriterienException" message="tns:InvalidParameterSuchkriterienException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/svNummerAbfragen/Fault/SasException" name="SasException" message="tns:SasException" />
      <fault wsam:Action="http://soap.sas.client.chipkarte.at/ISasService/svNummerAbfragen/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
  </portType>
  <binding name="sas_12Binding" type="tns:ISasService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="adressdatenAbfragen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault use="literal" name="AccessException" namespace="" />
      </fault>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="InvalidParameterSuchkriterienException">
        <soap:fault use="literal" name="InvalidParameterSuchkriterienException" namespace="" />
      </fault>
      <fault name="SasException">
        <soap:fault use="literal" name="SasException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="checkStatus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault use="literal" name="AccessException" namespace="" />
      </fault>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="patientendatenAbfragen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault use="literal" name="AccessException" namespace="" />
      </fault>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="InvalidParameterSuchkriterienException">
        <soap:fault use="literal" name="InvalidParameterSuchkriterienException" namespace="" />
      </fault>
      <fault name="SasException">
        <soap:fault use="literal" name="SasException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="svNummerAbfragen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault use="literal" name="AccessException" namespace="" />
      </fault>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="InvalidParameterSuchkriterienException">
        <soap:fault use="literal" name="InvalidParameterSuchkriterienException" namespace="" />
      </fault>
      <fault name="SasException">
        <soap:fault use="literal" name="SasException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="SasService">
    <port name="sas_12" binding="tns:sas_12Binding">
      <soap:address location="http://localhost/sas/12" />
    </port>
  </service>
</definitions>