eCardDialog/Web References/BaseRef/BaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://soap.base.client.chipkarte.at" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="BaseService" targetNamespace="http://soap.base.client.chipkarte.at" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://exceptions.soap.base.client.chipkarte.at" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="CardException" type="tns:cardExceptionContent" />
      <xs:element name="DialogException" type="tns:dialogExceptionContent" />
      <xs:element name="ServiceException" type="tns:serviceExceptionContent" />
      <xs:complexType name="baseExceptionContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cardExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dialogExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="serviceExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://soap.base.client.chipkarte.at" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="authenticateDialog" type="tns:authenticateDialog" />
      <xs:element name="authenticateDialogEnt" type="tns:authenticateDialogEnt" />
      <xs:element name="authenticateDialogEntResponse" type="tns:authenticateDialogEntResponse" />
      <xs:element name="authenticateDialogResponse" type="tns:authenticateDialogResponse" />
      <xs:element name="changePin" type="tns:changePin" />
      <xs:element name="changePinResponse" type="tns:changePinResponse" />
      <xs:element name="changePinWithPuk" type="tns:changePinWithPuk" />
      <xs:element name="changePinWithPukResponse" type="tns:changePinWithPukResponse" />
      <xs:element name="checkStatus" type="tns:checkStatus" />
      <xs:element name="checkStatusResponse" type="tns:checkStatusResponse" />
      <xs:element name="closeDialog" type="tns:closeDialog" />
      <xs:element name="closeDialogResponse" type="tns:closeDialogResponse" />
      <xs:element name="createDialog" type="tns:createDialog" />
      <xs:element name="createDialogEnt" type="tns:createDialogEnt" />
      <xs:element name="createDialogEntResponse" type="tns:createDialogEntResponse" />
      <xs:element name="createDialogResponse" type="tns:createDialogResponse" />
      <xs:element name="doCardTest" type="tns:doCardTest" />
      <xs:element name="doCardTestResponse" type="tns:doCardTestResponse" />
      <xs:element name="getBerechtigungen" type="tns:getBerechtigungen" />
      <xs:element name="getBerechtigungenResponse" type="tns:getBerechtigungenResponse" />
      <xs:element name="getCardData" type="tns:getCardData" />
      <xs:element name="getCardDataResponse" type="tns:getCardDataResponse" />
      <xs:element name="getCardReaders" type="tns:getCardReaders" />
      <xs:element name="getCardReadersResponse" type="tns:getCardReadersResponse" />
      <xs:element name="getExtendedCardData" type="tns:getExtendedCardData" />
      <xs:element name="getExtendedCardDataResponse" type="tns:getExtendedCardDataResponse" />
      <xs:element name="getFachgebiete" type="tns:getFachgebiete" />
      <xs:element name="getFachgebieteByOrdId" type="tns:getFachgebieteByOrdId" />
      <xs:element name="getFachgebieteByOrdIdResponse" type="tns:getFachgebieteByOrdIdResponse" />
      <xs:element name="getFachgebieteResponse" type="tns:getFachgebieteResponse" />
      <xs:element name="getFreeDialogs" type="tns:getFreeDialogs" />
      <xs:element name="getFreeDialogsResponse" type="tns:getFreeDialogsResponse" />
      <xs:element name="getGinaAndServiceavailabilityInformation" type="tns:getGinaAndServiceavailabilityInformation" />
      <xs:element name="getGinaAndServiceavailabilityInformationResponse" type="tns:getGinaAndServiceavailabilityInformationResponse" />
      <xs:element name="getGinaSoftwareVersion" type="tns:getGinaSoftwareVersion" />
      <xs:element name="getGinaSoftwareVersionResponse" type="tns:getGinaSoftwareVersionResponse" />
      <xs:element name="getMessages" type="tns:getMessages" />
      <xs:element name="getMessagesResponse" type="tns:getMessagesResponse" />
      <xs:element name="getMinMsgPollingIntervall" type="tns:getMinMsgPollingIntervall" />
      <xs:element name="getMinMsgPollingIntervallResponse" type="tns:getMinMsgPollingIntervallResponse" />
      <xs:element name="getReaderStatusEvents" type="tns:getReaderStatusEvents" />
      <xs:element name="getReaderStatusEventsResponse" type="tns:getReaderStatusEventsResponse" />
      <xs:element name="getSVTs" type="tns:getSVTs" />
      <xs:element name="getSVTsResponse" type="tns:getSVTsResponse" />
      <xs:element name="getStaaten" type="tns:getStaaten" />
      <xs:element name="getStaatenResponse" type="tns:getStaatenResponse" />
      <xs:element name="getVertraege" type="tns:getVertraege" />
      <xs:element name="getVertraegeResponse" type="tns:getVertraegeResponse" />
      <xs:element name="pollMessages" type="tns:pollMessages" />
      <xs:element name="pollMessagesResponse" type="tns:pollMessagesResponse" />
      <xs:element name="releaseCardReader" type="tns:releaseCardReader" />
      <xs:element name="releaseCardReaderResponse" type="tns:releaseCardReaderResponse" />
      <xs:element name="setCardReader" type="tns:setCardReader" />
      <xs:element name="setCardReaderResponse" type="tns:setCardReaderResponse" />
      <xs:element name="setDialogAddress" type="tns:setDialogAddress" />
      <xs:element name="setDialogAddressResponse" type="tns:setDialogAddressResponse" />
      <xs:element name="uebersiedelnOrdination" type="tns:uebersiedelnOrdination" />
      <xs:element name="uebersiedelnOrdinationResponse" type="tns:uebersiedelnOrdinationResponse" />
      <xs:complexType name="authenticateDialog">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
          <xs:element minOccurs="0" name="cin" type="xs:string" />
          <xs:element minOccurs="0" name="pin" type="xs:string" />
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="authenticateDialogEnt">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="authenticateDialogEntResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:vertragspartnerV2" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="authenticateDialogResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:vertragspartnerV2" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="authenticationStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="failedLoginAttempts" type="xs:int" />
          <xs:element minOccurs="0" name="failedPINAttempts" type="xs:int" />
          <xs:element minOccurs="0" name="lastLoginDate" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="baseProperty">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="nurAnzeige" type="xs:boolean" />
          <xs:element minOccurs="0" name="text" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="card">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardType" type="xs:string" />
          <xs:element minOccurs="0" name="cin" type="xs:string" />
          <xs:element minOccurs="0" name="csn" type="xs:string" />
          <xs:element minOccurs="0" name="geburtsdatum" type="xs:string" />
          <xs:element minOccurs="0" name="geschlechtCode" type="xs:string" />
          <xs:element minOccurs="0" name="nachname" type="xs:string" />
          <xs:element minOccurs="0" name="nachnameLatin1" type="xs:string" />
          <xs:element minOccurs="0" name="nummer" type="xs:string" />
          <xs:element minOccurs="0" name="titel" type="xs:string" />
          <xs:element minOccurs="0" name="titelHinten" type="xs:string" />
          <xs:element minOccurs="0" name="titelHintenLatin1" type="xs:string" />
          <xs:element minOccurs="0" name="titelLatin1" type="xs:string" />
          <xs:element minOccurs="0" name="vorname" type="xs:string" />
          <xs:element minOccurs="0" name="vornameLatin1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cardReader">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="changePin">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
          <xs:element minOccurs="0" name="cin" type="xs:string" />
          <xs:element minOccurs="0" name="oldPin" type="xs:string" />
          <xs:element minOccurs="0" name="newPin" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="changePinResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="changePinWithPuk">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
          <xs:element minOccurs="0" name="cin" type="xs:string" />
          <xs:element minOccurs="0" name="puk" type="xs:string" />
          <xs:element minOccurs="0" name="newPin" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="changePinWithPukResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="checkStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:property" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="closeDialog">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="closeDialogResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="createDialog">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
          <xs:element minOccurs="0" name="produktInfo" type="tns:produktInfo" />
          <xs:element minOccurs="0" name="extUID" type="xs:string" />
          <xs:element minOccurs="0" name="pushMessageEnabled" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createDialogEnt">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
          <xs:element minOccurs="0" name="produktInfo" type="tns:produktInfo" />
          <xs:element minOccurs="0" name="extUID" type="xs:string" />
          <xs:element minOccurs="0" name="vpNummer" type="xs:string" />
          <xs:element minOccurs="0" name="pushMessageEnabled" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createDialogEntResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="createDialogResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dialogsInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="currentDialogsCount" type="xs:int" />
          <xs:element minOccurs="0" name="maxDialogsCount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doCardTest">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doCardTestResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="gdaMa">
        <xs:sequence>
          <xs:element minOccurs="0" name="nachname" type="xs:string" />
          <xs:element minOccurs="0" name="titelHinten" type="xs:string" />
          <xs:element minOccurs="0" name="titelVorne" type="xs:string" />
          <xs:element minOccurs="0" name="vorname" type="xs:string" />
          <xs:element minOccurs="0" name="zusatzinfo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getBerechtigungen">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getBerechtigungenResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCardData">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCardDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:card" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCardReaders">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getCardReadersResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:cardReader" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getExtendedCardData">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
          <xs:element minOccurs="0" name="CIN" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getExtendedCardDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:property" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getFachgebiete">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getFachgebieteByOrdId">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
          <xs:element minOccurs="0" name="ordId" type="xs:string" />
          <xs:element minOccurs="0" name="taetigkeitsBereichId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getFachgebieteByOrdIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:baseProperty" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getFachgebieteResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:baseProperty" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getFreeDialogs">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getFreeDialogsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:dialogsInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGinaAndServiceavailabilityInformation">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getGinaAndServiceavailabilityInformationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:statusInformationen" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGinaSoftwareVersion">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getGinaSoftwareVersionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:ginaVersion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMessages">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
          <xs:element minOccurs="0" name="newOnly" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMessagesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:message" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMinMsgPollingIntervall">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMinMsgPollingIntervallResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReaderStatusEvents">
        <xs:sequence>
          <xs:element minOccurs="0" name="handle" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cardReaderId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="timeOut" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getReaderStatusEventsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:readerStatusResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getSVTs">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getSVTsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:svtProperty" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getStaaten">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getStaatenResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:baseProperty" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getVertraege">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getVertraegeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:vertragsDaten" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ginaInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="dnsName" type="xs:string" />
          <xs:element minOccurs="0" name="ipAdresse" type="xs:string" />
          <xs:element minOccurs="0" name="produktVersion" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ginaVersion">
        <xs:sequence>
          <xs:element minOccurs="0" name="softwareVersion" type="xs:string" />
          <xs:element minOccurs="0" name="typ" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="message">
        <xs:sequence>
          <xs:element minOccurs="0" name="appid" type="xs:string" />
          <xs:element minOccurs="0" name="category" type="xs:string" />
          <xs:element minOccurs="0" name="data" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="text" type="xs:string" />
          <xs:element minOccurs="0" name="timestamp" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="messagePollResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="nachrichten" nillable="true" type="tns:message" />
          <xs:element minOccurs="0" name="nachrichtenVerfuegbar" type="xs:boolean" />
          <xs:element minOccurs="0" name="naechsterSuchzeitpunkt" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ordination">
        <xs:sequence>
          <xs:element minOccurs="0" name="bezirk" type="xs:string" />
          <xs:element minOccurs="0" name="bundeslandCode" type="xs:string" />
          <xs:element minOccurs="0" name="landCode" type="xs:string" />
          <xs:element minOccurs="0" name="ordinationId" type="xs:string" />
          <xs:element minOccurs="0" name="ordinationNumber" type="xs:long" />
          <xs:element minOccurs="0" name="postleitzahl" type="xs:string" />
          <xs:element minOccurs="0" name="stadt" type="xs:string" />
          <xs:element minOccurs="0" name="strasse" type="xs:string" />
          <xs:element minOccurs="0" name="uebersiedeln" type="xs:boolean" />
          <xs:element minOccurs="0" name="uebersiedelnDate" type="xs:string" />
          <xs:element minOccurs="0" name="vorgaengerOrdinationId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="taetigkeitsBereich" nillable="true" type="tns:taetigkeitsBereich" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pollMessages">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
          <xs:element minOccurs="0" name="suchzeitpunkt" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pollMessagesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:messagePollResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="produktInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="produktId" type="xs:int" />
          <xs:element minOccurs="0" name="produktVersion" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="property">
        <xs:sequence>
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="readerStatusEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
          <xs:element minOccurs="0" name="cardReaderState" type="xs:string" />
          <xs:element minOccurs="0" name="cardType" type="xs:string" />
          <xs:element minOccurs="0" name="eventType" type="xs:string" />
          <xs:element minOccurs="0" name="timeStamp" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="readerStatusResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="handle" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="readerStatusEvents" nillable="true" type="tns:readerStatusEvent" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="releaseCardReader">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="releaseCardReaderResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="serviceStatusInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="hinweisAktion" type="xs:string" />
          <xs:element minOccurs="0" name="hinweisZusatz" type="xs:string" />
          <xs:element minOccurs="0" name="modus" type="xs:boolean" />
          <xs:element minOccurs="0" name="modusText" type="xs:string" />
          <xs:element minOccurs="0" name="serviceName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setCardReader">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setCardReaderResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="setDialogAddress">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
          <xs:element minOccurs="0" name="ordinationId" type="xs:string" />
          <xs:element minOccurs="0" name="taetigkeitsBereichId" type="xs:string" />
          <xs:element minOccurs="0" name="elgaRolle" type="xs:string" />
          <xs:element minOccurs="0" name="gdaMa" type="tns:gdaMa" />
          <xs:element minOccurs="0" name="prozess" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setDialogAddressResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="statusInformationen">
        <xs:sequence>
          <xs:element minOccurs="0" name="ginaInfo" type="tns:ginaInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="serviceStatusInformation" nillable="true" type="tns:serviceStatusInformation" />
          <xs:element minOccurs="0" name="wartungsfensterBis" type="xs:string" />
          <xs:element minOccurs="0" name="wartungsfensterHinweis" type="xs:string" />
          <xs:element minOccurs="0" name="wartungsfensterKennzeichen" type="xs:boolean" />
          <xs:element minOccurs="0" name="wartungsfensterText" type="xs:string" />
          <xs:element minOccurs="0" name="wartungsfensterVon" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="svPersonV2">
        <xs:sequence>
          <xs:element minOccurs="0" name="druckNachname" type="xs:string" />
          <xs:element minOccurs="0" name="druckTitelHinten" type="xs:string" />
          <xs:element minOccurs="0" name="druckTitelVorne" type="xs:string" />
          <xs:element minOccurs="0" name="druckVorname" type="xs:string" />
          <xs:element minOccurs="0" name="geburtsdatum" type="xs:string" />
          <xs:element minOccurs="0" name="geschlecht" type="xs:string" />
          <xs:element minOccurs="0" name="nachname" type="xs:string" />
          <xs:element minOccurs="0" name="svNummer" type="xs:string" />
          <xs:element minOccurs="0" name="titelHinten" type="xs:string" />
          <xs:element minOccurs="0" name="titelVorne" type="xs:string" />
          <xs:element minOccurs="0" name="vorname" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="svtProperty">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseProperty">
            <xs:sequence>
              <xs:element minOccurs="0" name="ASVG" type="xs:boolean" />
              <xs:element minOccurs="0" name="EKVKCode" type="xs:string" />
              <xs:element minOccurs="0" name="EKVKName" type="xs:string" />
              <xs:element minOccurs="0" name="kurzbezeichnung" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="taetigkeitsBereich">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="anzeigeText" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uebersiedelnOrdination">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
          <xs:element minOccurs="0" name="ordinationId" type="xs:string" />
          <xs:element minOccurs="0" name="forceUebersiedlung" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="uebersiedelnOrdinationResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="vertragsDaten">
        <xs:sequence>
          <xs:element minOccurs="0" name="bezBereich" type="xs:string" />
          <xs:element minOccurs="0" name="fachGebietsCode" type="xs:string" />
          <xs:element minOccurs="0" name="konsultationsrecht" type="xs:boolean" />
          <xs:element minOccurs="0" name="leistungsSVT" type="xs:string" />
          <xs:element minOccurs="0" name="ordId" type="xs:string" />
          <xs:element minOccurs="0" name="rezepturrecht" type="xs:boolean" />
          <xs:element minOccurs="0" name="verrechnungsSVT" type="xs:string" />
          <xs:element minOccurs="0" name="taetigkeitsBereichId" type="xs:string" />
          <xs:element minOccurs="0" name="vertragsTyp" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="vertragspartnerV2">
        <xs:sequence>
          <xs:element minOccurs="0" name="anredeCode" type="xs:string" />
          <xs:element minOccurs="0" name="authenticationStatus" type="tns:authenticationStatus" />
          <xs:element minOccurs="0" name="druckNachname" type="xs:string" />
          <xs:element minOccurs="0" name="druckVorname" type="xs:string" />
          <xs:element minOccurs="0" name="druckTitelHinten" type="xs:string" />
          <xs:element minOccurs="0" name="druckTitelVorne" type="xs:string" />
          <xs:element minOccurs="0" name="geburtsdatum" type="xs:string" />
          <xs:element minOccurs="0" name="nachname" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ordination" nillable="true" type="tns:ordination" />
          <xs:element minOccurs="0" name="titelHinten" type="xs:string" />
          <xs:element minOccurs="0" name="titelVorne" type="xs:string" />
          <xs:element minOccurs="0" name="vorname" type="xs:string" />
          <xs:element minOccurs="0" name="vpId" type="xs:string" />
          <xs:element minOccurs="0" name="vpNummer" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="CardException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:CardException" />
  </message>
  <message name="DialogException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:DialogException" />
  </message>
  <message name="ServiceException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:ServiceException" />
  </message>
  <message name="authenticateDialog">
    <part name="parameters" element="tns:authenticateDialog" />
  </message>
  <message name="authenticateDialogEnt">
    <part name="parameters" element="tns:authenticateDialogEnt" />
  </message>
  <message name="authenticateDialogEntResponse">
    <part name="parameters" element="tns:authenticateDialogEntResponse" />
  </message>
  <message name="authenticateDialogResponse">
    <part name="parameters" element="tns:authenticateDialogResponse" />
  </message>
  <message name="changePin">
    <part name="parameters" element="tns:changePin" />
  </message>
  <message name="changePinResponse">
    <part name="parameters" element="tns:changePinResponse" />
  </message>
  <message name="changePinWithPuk">
    <part name="parameters" element="tns:changePinWithPuk" />
  </message>
  <message name="changePinWithPukResponse">
    <part name="parameters" element="tns:changePinWithPukResponse" />
  </message>
  <message name="checkStatus">
    <part name="parameters" element="tns:checkStatus" />
  </message>
  <message name="checkStatusResponse">
    <part name="parameters" element="tns:checkStatusResponse" />
  </message>
  <message name="closeDialog">
    <part name="parameters" element="tns:closeDialog" />
  </message>
  <message name="closeDialogResponse">
    <part name="parameters" element="tns:closeDialogResponse" />
  </message>
  <message name="createDialog">
    <part name="parameters" element="tns:createDialog" />
  </message>
  <message name="createDialogEnt">
    <part name="parameters" element="tns:createDialogEnt" />
  </message>
  <message name="createDialogEntResponse">
    <part name="parameters" element="tns:createDialogEntResponse" />
  </message>
  <message name="createDialogResponse">
    <part name="parameters" element="tns:createDialogResponse" />
  </message>
  <message name="doCardTest">
    <part name="parameters" element="tns:doCardTest" />
  </message>
  <message name="doCardTestResponse">
    <part name="parameters" element="tns:doCardTestResponse" />
  </message>
  <message name="getBerechtigungen">
    <part name="parameters" element="tns:getBerechtigungen" />
  </message>
  <message name="getBerechtigungenResponse">
    <part name="parameters" element="tns:getBerechtigungenResponse" />
  </message>
  <message name="getCardData">
    <part name="parameters" element="tns:getCardData" />
  </message>
  <message name="getCardDataResponse">
    <part name="parameters" element="tns:getCardDataResponse" />
  </message>
  <message name="getCardReaders">
    <part name="parameters" element="tns:getCardReaders" />
  </message>
  <message name="getCardReadersResponse">
    <part name="parameters" element="tns:getCardReadersResponse" />
  </message>
  <message name="getExtendedCardData">
    <part name="parameters" element="tns:getExtendedCardData" />
  </message>
  <message name="getExtendedCardDataResponse">
    <part name="parameters" element="tns:getExtendedCardDataResponse" />
  </message>
  <message name="getFachgebiete">
    <part name="parameters" element="tns:getFachgebiete" />
  </message>
  <message name="getFachgebieteByOrdId">
    <part name="parameters" element="tns:getFachgebieteByOrdId" />
  </message>
  <message name="getFachgebieteByOrdIdResponse">
    <part name="parameters" element="tns:getFachgebieteByOrdIdResponse" />
  </message>
  <message name="getFachgebieteResponse">
    <part name="parameters" element="tns:getFachgebieteResponse" />
  </message>
  <message name="getFreeDialogs">
    <part name="parameters" element="tns:getFreeDialogs" />
  </message>
  <message name="getFreeDialogsResponse">
    <part name="parameters" element="tns:getFreeDialogsResponse" />
  </message>
  <message name="getGinaAndServiceavailabilityInformation">
    <part name="parameters" element="tns:getGinaAndServiceavailabilityInformation" />
  </message>
  <message name="getGinaAndServiceavailabilityInformationResponse">
    <part name="parameters" element="tns:getGinaAndServiceavailabilityInformationResponse" />
  </message>
  <message name="getGinaSoftwareVersion">
    <part name="parameters" element="tns:getGinaSoftwareVersion" />
  </message>
  <message name="getGinaSoftwareVersionResponse">
    <part name="parameters" element="tns:getGinaSoftwareVersionResponse" />
  </message>
  <message name="getMessages">
    <part name="parameters" element="tns:getMessages" />
  </message>
  <message name="getMessagesResponse">
    <part name="parameters" element="tns:getMessagesResponse" />
  </message>
  <message name="getMinMsgPollingIntervall">
    <part name="parameters" element="tns:getMinMsgPollingIntervall" />
  </message>
  <message name="getMinMsgPollingIntervallResponse">
    <part name="parameters" element="tns:getMinMsgPollingIntervallResponse" />
  </message>
  <message name="getReaderStatusEvents">
    <part name="parameters" element="tns:getReaderStatusEvents" />
  </message>
  <message name="getReaderStatusEventsResponse">
    <part name="parameters" element="tns:getReaderStatusEventsResponse" />
  </message>
  <message name="getSVTs">
    <part name="parameters" element="tns:getSVTs" />
  </message>
  <message name="getSVTsResponse">
    <part name="parameters" element="tns:getSVTsResponse" />
  </message>
  <message name="getStaaten">
    <part name="parameters" element="tns:getStaaten" />
  </message>
  <message name="getStaatenResponse">
    <part name="parameters" element="tns:getStaatenResponse" />
  </message>
  <message name="getVertraege">
    <part name="parameters" element="tns:getVertraege" />
  </message>
  <message name="getVertraegeResponse">
    <part name="parameters" element="tns:getVertraegeResponse" />
  </message>
  <message name="pollMessages">
    <part name="parameters" element="tns:pollMessages" />
  </message>
  <message name="pollMessagesResponse">
    <part name="parameters" element="tns:pollMessagesResponse" />
  </message>
  <message name="releaseCardReader">
    <part name="parameters" element="tns:releaseCardReader" />
  </message>
  <message name="releaseCardReaderResponse">
    <part name="parameters" element="tns:releaseCardReaderResponse" />
  </message>
  <message name="setCardReader">
    <part name="parameters" element="tns:setCardReader" />
  </message>
  <message name="setCardReaderResponse">
    <part name="parameters" element="tns:setCardReaderResponse" />
  </message>
  <message name="setDialogAddress">
    <part name="parameters" element="tns:setDialogAddress" />
  </message>
  <message name="setDialogAddressResponse">
    <part name="parameters" element="tns:setDialogAddressResponse" />
  </message>
  <message name="uebersiedelnOrdination">
    <part name="parameters" element="tns:uebersiedelnOrdination" />
  </message>
  <message name="uebersiedelnOrdinationResponse">
    <part name="parameters" element="tns:uebersiedelnOrdinationResponse" />
  </message>
  <portType name="IBaseService">
    <operation name="authenticateDialog">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/authenticateDialogRequest" message="tns:authenticateDialog" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/authenticateDialogResponse" message="tns:authenticateDialogResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/authenticateDialog/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/authenticateDialog/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/authenticateDialog/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="authenticateDialogEnt">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/authenticateDialogEntRequest" message="tns:authenticateDialogEnt" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/authenticateDialogEntResponse" message="tns:authenticateDialogEntResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/authenticateDialogEnt/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/authenticateDialogEnt/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="changePin">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/changePinRequest" message="tns:changePin" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/changePinResponse" message="tns:changePinResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/changePin/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/changePin/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="changePinWithPuk">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/changePinWithPukRequest" message="tns:changePinWithPuk" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/changePinWithPukResponse" message="tns:changePinWithPukResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/changePinWithPuk/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/changePinWithPuk/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="checkStatus">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/checkStatusRequest" message="tns:checkStatus" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/checkStatusResponse" message="tns:checkStatusResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/checkStatus/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/checkStatus/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="closeDialog">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/closeDialogRequest" message="tns:closeDialog" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/closeDialogResponse" message="tns:closeDialogResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/closeDialog/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/closeDialog/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="createDialog">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/createDialogRequest" message="tns:createDialog" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/createDialogResponse" message="tns:createDialogResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/createDialog/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/createDialog/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/createDialog/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="createDialogEnt">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/createDialogEntRequest" message="tns:createDialogEnt" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/createDialogEntResponse" message="tns:createDialogEntResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/createDialogEnt/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/createDialogEnt/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/createDialogEnt/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="doCardTest">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/doCardTestRequest" message="tns:doCardTest" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/doCardTestResponse" message="tns:doCardTestResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/doCardTest/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/doCardTest/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getBerechtigungen">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getBerechtigungenRequest" message="tns:getBerechtigungen" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getBerechtigungenResponse" message="tns:getBerechtigungenResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getBerechtigungen/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getBerechtigungen/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getCardData">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getCardDataRequest" message="tns:getCardData" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getCardDataResponse" message="tns:getCardDataResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getCardData/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getCardData/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getCardReaders">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getCardReadersRequest" message="tns:getCardReaders" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getCardReadersResponse" message="tns:getCardReadersResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getCardReaders/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getExtendedCardData">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getExtendedCardDataRequest" message="tns:getExtendedCardData" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getExtendedCardDataResponse" message="tns:getExtendedCardDataResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getExtendedCardData/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getExtendedCardData/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getFachgebiete">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getFachgebieteRequest" message="tns:getFachgebiete" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getFachgebieteResponse" message="tns:getFachgebieteResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getFachgebiete/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getFachgebieteByOrdId">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getFachgebieteByOrdIdRequest" message="tns:getFachgebieteByOrdId" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getFachgebieteByOrdIdResponse" message="tns:getFachgebieteByOrdIdResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getFachgebieteByOrdId/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getFachgebieteByOrdId/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getFreeDialogs">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getFreeDialogsRequest" message="tns:getFreeDialogs" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getFreeDialogsResponse" message="tns:getFreeDialogsResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getFreeDialogs/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getGinaAndServiceavailabilityInformation">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getGinaAndServiceavailabilityInformationRequest" message="tns:getGinaAndServiceavailabilityInformation" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getGinaAndServiceavailabilityInformationResponse" message="tns:getGinaAndServiceavailabilityInformationResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getGinaAndServiceavailabilityInformation/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getGinaSoftwareVersion">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getGinaSoftwareVersionRequest" message="tns:getGinaSoftwareVersion" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getGinaSoftwareVersionResponse" message="tns:getGinaSoftwareVersionResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getGinaSoftwareVersion/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getMessages">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getMessagesRequest" message="tns:getMessages" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getMessagesResponse" message="tns:getMessagesResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getMessages/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getMessages/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getMinMsgPollingIntervall">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getMinMsgPollingIntervallRequest" message="tns:getMinMsgPollingIntervall" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getMinMsgPollingIntervallResponse" message="tns:getMinMsgPollingIntervallResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getMinMsgPollingIntervall/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getMinMsgPollingIntervall/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getReaderStatusEvents">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getReaderStatusEventsRequest" message="tns:getReaderStatusEvents" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getReaderStatusEventsResponse" message="tns:getReaderStatusEventsResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getReaderStatusEvents/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getReaderStatusEvents/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getSVTs">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getSVTsRequest" message="tns:getSVTs" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getSVTsResponse" message="tns:getSVTsResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getSVTs/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getStaaten">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getStaatenRequest" message="tns:getStaaten" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getStaatenResponse" message="tns:getStaatenResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getStaaten/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getVertraege">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getVertraegeRequest" message="tns:getVertraege" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getVertraegeResponse" message="tns:getVertraegeResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getVertraege/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/getVertraege/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="pollMessages">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/pollMessagesRequest" message="tns:pollMessages" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/pollMessagesResponse" message="tns:pollMessagesResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/pollMessages/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/pollMessages/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="releaseCardReader">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/releaseCardReaderRequest" message="tns:releaseCardReader" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/releaseCardReaderResponse" message="tns:releaseCardReaderResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/releaseCardReader/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/releaseCardReader/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="setCardReader">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/setCardReaderRequest" message="tns:setCardReader" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/setCardReaderResponse" message="tns:setCardReaderResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/setCardReader/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/setCardReader/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/setCardReader/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="setDialogAddress">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/setDialogAddressRequest" message="tns:setDialogAddress" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/setDialogAddressResponse" message="tns:setDialogAddressResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/setDialogAddress/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/setDialogAddress/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="uebersiedelnOrdination">
      <input wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/uebersiedelnOrdinationRequest" message="tns:uebersiedelnOrdination" />
      <output wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/uebersiedelnOrdinationResponse" message="tns:uebersiedelnOrdinationResponse" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/uebersiedelnOrdination/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.base.client.chipkarte.at/IBaseService/uebersiedelnOrdination/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
  </portType>
  <binding name="base_15Binding" type="tns:IBaseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="authenticateDialog">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="authenticateDialogEnt">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="changePin">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="changePinWithPuk">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="checkStatus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="closeDialog">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="createDialog">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="createDialogEnt">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="doCardTest">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getBerechtigungen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCardData">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getCardReaders">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getExtendedCardData">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getFachgebiete">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getFachgebieteByOrdId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getFreeDialogs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGinaAndServiceavailabilityInformation">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getGinaSoftwareVersion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getMessages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getMinMsgPollingIntervall">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getReaderStatusEvents">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getSVTs">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getStaaten">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getVertraege">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="pollMessages">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="releaseCardReader">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="setCardReader">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="setDialogAddress">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="uebersiedelnOrdination">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="BaseService">
    <port name="base_15" binding="tns:base_15Binding">
      <soap:address location="http://localhost/base/15" />
    </port>
  </service>
</definitions>