eCardDialog/Web References/VDASRef/VdasService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://soap.vdas.client.chipkarte.at" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="VdasService" targetNamespace="http://soap.vdas.client.chipkarte.at" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://exceptions.soap.base.client.chipkarte.at" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="AccessException" type="tns:accessExceptionContent" />
      <xs:element name="CardException" type="tns:cardExceptionContent" />
      <xs:element name="DialogException" type="tns:dialogExceptionContent" />
      <xs:element name="ServiceException" type="tns:serviceExceptionContent" />
      <xs:complexType name="accessExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="baseExceptionContent">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="errorCode" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cardExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dialogExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="serviceExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://exceptions.soap.vdas.client.chipkarte.at" xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://exceptions.soap.vdas.client.chipkarte.at" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://exceptions.soap.base.client.chipkarte.at" />
      <xs:element name="InvalidParameterVdasException" type="tns:invalidParameterVdasExceptionContent" />
      <xs:element name="VdasException" type="tns:vdasExceptionContent" />
      <xs:complexType name="invalidParameterVdasExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="baseexc:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="vdasExceptionContent">
        <xs:complexContent mixed="false">
          <xs:extension base="baseexc:baseExceptionContent">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://soap.base.client.chipkarte.at" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="property">
        <xs:sequence>
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="svPersonV2">
        <xs:sequence>
          <xs:element minOccurs="0" name="druckNachname" type="xs:string" />
          <xs:element minOccurs="0" name="druckTitelHinten" type="xs:string" />
          <xs:element minOccurs="0" name="druckTitelVorne" type="xs:string" />
          <xs:element minOccurs="0" name="druckVorname" type="xs:string" />
          <xs:element minOccurs="0" name="geburtsdatum" type="xs:string" />
          <xs:element minOccurs="0" name="geschlecht" type="xs:string" />
          <xs:element minOccurs="0" name="nachname" type="xs:string" />
          <xs:element minOccurs="0" name="svNummer" type="xs:string" />
          <xs:element minOccurs="0" name="titelHinten" type="xs:string" />
          <xs:element minOccurs="0" name="titelVorne" type="xs:string" />
          <xs:element minOccurs="0" name="vorname" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:vdasexc="http://exceptions.soap.vdas.client.chipkarte.at" xmlns:base="http://soap.base.client.chipkarte.at" elementFormDefault="qualified" targetNamespace="http://soap.vdas.client.chipkarte.at" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://soap.base.client.chipkarte.at" />
      <xs:element name="checkStatus" type="tns:checkStatus" />
      <xs:element name="checkStatusResponse" type="tns:checkStatusResponse" />
      <xs:element name="getVersichertenDaten" type="tns:getVersichertenDaten" />
      <xs:element name="getVersichertenDatenResponse" type="tns:getVersichertenDatenResponse" />
      <xs:element name="retrieveVersichertendatenPerStichtag" type="tns:retrieveVersichertendatenPerStichtag" />
      <xs:element name="retrieveVersichertendatenPerStichtagResponse" type="tns:retrieveVersichertendatenPerStichtagResponse" />
      <xs:complexType name="anspruchsdaten">
        <xs:sequence>
          <xs:element minOccurs="0" name="abgeleiteteDaten" type="base:svPersonV2" />
          <xs:element minOccurs="0" name="anspruchsart" type="xs:string" />
          <xs:element minOccurs="0" name="kostenanteilbefreit" type="xs:boolean" />
          <xs:element minOccurs="0" name="rezeptgebbefreit" type="xs:boolean" />
          <xs:element minOccurs="0" name="svtCode" type="xs:string" />
          <xs:element minOccurs="0" name="versichertenKategorie" type="xs:string" />
          <xs:element minOccurs="0" name="versichertenartCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="checkStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="base:property" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getVersichertenDaten">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
          <xs:element minOccurs="0" name="suchKriterien" type="tns:versichertendatenAbfrage" />
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getVersichertenDatenResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:versichertendatenAbfrageErgebnis" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveVersichertendatenPerStichtag">
        <xs:sequence>
          <xs:element minOccurs="0" name="dialogId" type="xs:string" />
          <xs:element minOccurs="0" name="suchKriterien" type="tns:versichertendatenAbfragePerStichtag" />
          <xs:element minOccurs="0" name="cardReaderId" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveVersichertendatenPerStichtagResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:versichertendatenAbfrageErgebnis" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="versichertendatenAbfrage">
        <xs:sequence>
          <xs:element minOccurs="0" name="abteilungsFunktionsCode" type="xs:string" />
          <xs:element minOccurs="0" name="cin" type="xs:string" />
          <xs:element minOccurs="0" name="forceExecution" type="xs:boolean" />
          <xs:element minOccurs="0" name="svNummer" type="xs:string" />
          <xs:element minOccurs="0" name="svNummerAbgeleitet" type="xs:string" />
          <xs:element minOccurs="0" name="svtCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="versichertendatenAbfrageErgebnis">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="anspruchsDaten" nillable="true" type="tns:anspruchsdaten" />
          <xs:element minOccurs="0" name="vdasId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="vdasMessageCodes" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="versichertenDaten" type="tns:versichertendatenSvPerson" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="versichertendatenAbfragePerStichtag">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:versichertendatenAbfrage">
            <xs:sequence>
              <xs:element minOccurs="0" name="stichtagsdatum" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="versichertendatenSvPerson">
        <xs:sequence>
          <xs:element minOccurs="0" name="druckNachname" type="xs:string" />
          <xs:element minOccurs="0" name="druckTitelHinten" type="xs:string" />
          <xs:element minOccurs="0" name="druckTitelVorne" type="xs:string" />
          <xs:element minOccurs="0" name="druckVorname" type="xs:string" />
          <xs:element minOccurs="0" name="geburtsdatum" type="xs:string" />
          <xs:element minOccurs="0" name="geschlecht" type="xs:string" />
          <xs:element minOccurs="0" name="nachname" type="xs:string" />
          <xs:element minOccurs="0" name="svNummer" type="xs:string" />
          <xs:element minOccurs="0" name="titelHinten" type="xs:string" />
          <xs:element minOccurs="0" name="titelVorne" type="xs:string" />
          <xs:element minOccurs="0" name="todesdatum" type="xs:string" />
          <xs:element minOccurs="0" name="todesdatumBestaetigt" type="xs:string" />
          <xs:element minOccurs="0" name="vorname" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="AccessException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:AccessException" />
  </message>
  <message name="CardException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:CardException" />
  </message>
  <message name="DialogException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:DialogException" />
  </message>
  <message name="InvalidParameterVdasException">
    <part xmlns:vdasexc="http://exceptions.soap.vdas.client.chipkarte.at" name="fault" element="vdasexc:InvalidParameterVdasException" />
  </message>
  <message name="ServiceException">
    <part xmlns:baseexc="http://exceptions.soap.base.client.chipkarte.at" name="fault" element="baseexc:ServiceException" />
  </message>
  <message name="VdasException">
    <part xmlns:vdasexc="http://exceptions.soap.vdas.client.chipkarte.at" name="fault" element="vdasexc:VdasException" />
  </message>
  <message name="checkStatus">
    <part name="parameters" element="tns:checkStatus" />
  </message>
  <message name="checkStatusResponse">
    <part name="parameters" element="tns:checkStatusResponse" />
  </message>
  <message name="getVersichertenDaten">
    <part name="parameters" element="tns:getVersichertenDaten" />
  </message>
  <message name="getVersichertenDatenResponse">
    <part name="parameters" element="tns:getVersichertenDatenResponse" />
  </message>
  <message name="retrieveVersichertendatenPerStichtag">
    <part name="parameters" element="tns:retrieveVersichertendatenPerStichtag" />
  </message>
  <message name="retrieveVersichertendatenPerStichtagResponse">
    <part name="parameters" element="tns:retrieveVersichertendatenPerStichtagResponse" />
  </message>
  <portType name="IVdasService">
    <operation name="checkStatus">
      <input wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/checkStatusRequest" message="tns:checkStatus" />
      <output wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/checkStatusResponse" message="tns:checkStatusResponse" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/checkStatus/Fault/AccessException" name="AccessException" message="tns:AccessException" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/checkStatus/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/checkStatus/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
    </operation>
    <operation name="getVersichertenDaten">
      <input wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/getVersichertenDatenRequest" message="tns:getVersichertenDaten" />
      <output wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/getVersichertenDatenResponse" message="tns:getVersichertenDatenResponse" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/getVersichertenDaten/Fault/AccessException" name="AccessException" message="tns:AccessException" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/getVersichertenDaten/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/getVersichertenDaten/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/getVersichertenDaten/Fault/InvalidParameterVdasException" name="InvalidParameterVdasException" message="tns:InvalidParameterVdasException" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/getVersichertenDaten/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/getVersichertenDaten/Fault/VdasException" name="VdasException" message="tns:VdasException" />
    </operation>
    <operation name="retrieveVersichertendatenPerStichtag">
      <input wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/retrieveVersichertendatenPerStichtagRequest" message="tns:retrieveVersichertendatenPerStichtag" />
      <output wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/retrieveVersichertendatenPerStichtagResponse" message="tns:retrieveVersichertendatenPerStichtagResponse" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/retrieveVersichertendatenPerStichtag/Fault/AccessException" name="AccessException" message="tns:AccessException" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/retrieveVersichertendatenPerStichtag/Fault/CardException" name="CardException" message="tns:CardException" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/retrieveVersichertendatenPerStichtag/Fault/DialogException" name="DialogException" message="tns:DialogException" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/retrieveVersichertendatenPerStichtag/Fault/InvalidParameterVdasException" name="InvalidParameterVdasException" message="tns:InvalidParameterVdasException" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/retrieveVersichertendatenPerStichtag/Fault/ServiceException" name="ServiceException" message="tns:ServiceException" />
      <fault wsam:Action="http://soap.vdas.client.chipkarte.at/IVdasService/retrieveVersichertendatenPerStichtag/Fault/VdasException" name="VdasException" message="tns:VdasException" />
    </operation>
  </portType>
  <binding name="vdas_14Binding" type="tns:IVdasService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="checkStatus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault use="literal" name="AccessException" namespace="" />
      </fault>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
    </operation>
    <operation name="getVersichertenDaten">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault use="literal" name="AccessException" namespace="" />
      </fault>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="InvalidParameterVdasException">
        <soap:fault use="literal" name="InvalidParameterVdasException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
      <fault name="VdasException">
        <soap:fault use="literal" name="VdasException" namespace="" />
      </fault>
    </operation>
    <operation name="retrieveVersichertendatenPerStichtag">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="AccessException">
        <soap:fault use="literal" name="AccessException" namespace="" />
      </fault>
      <fault name="CardException">
        <soap:fault use="literal" name="CardException" namespace="" />
      </fault>
      <fault name="DialogException">
        <soap:fault use="literal" name="DialogException" namespace="" />
      </fault>
      <fault name="InvalidParameterVdasException">
        <soap:fault use="literal" name="InvalidParameterVdasException" namespace="" />
      </fault>
      <fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </fault>
      <fault name="VdasException">
        <soap:fault use="literal" name="VdasException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="VdasService">
    <port name="vdas_14" binding="tns:vdas_14Binding">
      <soap:address location="http://localhost/vdas/14" />
    </port>
  </service>
</definitions>